# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

- Use Python for Data Science
- Use R for Data Science 
- Use SQL for Data Science

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia
6. JavaScript
7. Java
8. C/C++
9. MATLAB

|Data Science Tools|
|---------------|
|Python|
|Jupyter Notebooks|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
15/4

3.75

In [8]:
15//4

3

In [12]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [14]:
#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Daouda OROU YOROU